---

- include_tasks: package.yml
  when: sphinx_conf_only is not defined

- include_tasks: test.yml
  when: sphinx_test

- include_tasks: mail.yml
  when: ansible_hostname == "mail2"

- include_tasks: config.yml

- name: Be sure sphinxsearch is running and enabled
  service: name=sphinxsearch state=started enabled=yes
  tags:
    - test
